<app-head-banner [name]="name"></app-head-banner>

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <img src="/assets/icon-1.png">
            <div class="content">
                <h4>Fast Dekivery</h4>
                <p>Within 30 Minutes</p>
            </div>
        </div>
            <div class="col-md-4">
            <img src="/assets/icon-2.png">
            <div class="content">
                <h4>24/7 Service</h4>
                <p>Call Us Anytime</p>
            </div>
        </div>
            <div class="col-md-4">
            <img src="/assets/icon-3.png">
            <div class="content">
                <h4>Easy Payments</h4>
                <p>Cash Or Card Any</p>
            </div>
        </div>
        </div>
    </div>
</section>

<section class="review">
    <div class="review-container">
        <div data-aos="fade-up" class="box-review">
            <div class="image-heading">
                <img src="/assets/pic-1.png" alt="image-1">
                <div class="heading">
                <h4>John Doe</h4>
                <p>Happy Client</p>
            </div>
            </div>
            <div class="content">
                <p>Ipsum as their default model text,
                     and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variou</p>
            </div>
        </div>
        <div data-aos="fade-up" class="box-review">
            <div class="image-heading">
                <img src="/assets/pic-2.png" alt="image-2">
                <div class="heading">
                <h4>John Doe</h4>
                <p>Happy Client</p>
            </div>
            </div>
            <div class="content">
                <p>Ipsum as their default model text,
                     and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variou</p>
            </div>
        </div>
        <div data-aos="fade-up" class="box-review">
            <div class="image-heading">
                <img src="/assets/pic-3.png" alt="image-3">
                <div class="heading">
                <h4>John Doe</h4>
                <p>Happy Client</p>
            </div>
            </div>
            <div class="content">
                <p>Ipsum as their default model text,
                     and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variou</p>
            </div>
        </div>
        <div data-aos="fade-up" class="box-review">
            <div class="image-heading">
                <img src="/assets/pic-4.png" alt="image-4">
                <div class="heading">
                <h4>John Doe</h4>
                <p>Happy Client</p>
            </div>
            </div>
            <div class="content">
                <p>Ipsum as their default model text,
                     and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variou</p>
            </div>
        </div>
        <div data-aos="fade-up" class="box-review">
            <div class="image-heading">
                <img src="/assets/pic-5.png" alt="image-5">
                <div class="heading">
                <h4>John Doe</h4>
                <p>Happy Client</p>
            </div>
            </div>
            <div class="content">
                <p>Ipsum as their default model text,
                     and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variou</p>
            </div>
        </div>
        <div data-aos="fade-up" class="box-review">
            <div class="image-heading">
                <img src="/assets/pic-6.png" alt="image-6">
                <div class="heading">
                <h4>John Doe</h4>
                <p>Happy Client</p>
            </div>
            </div>
            <div class="content">
                <p>Ipsum as their default model text,
                     and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variou</p>
            </div>
        </div>

    </div>
</section>
