<app-head-banner [name]="name"></app-head-banner>

<section class="contact">
    <div class="contact-container">
        <div class="box-contact">
            <i class="fas fa-phone"></i>
            <h4>Our Number</h4>
            <p>+123-456-7890</p>
            <p>111-222-3333</p>
        </div>
        <div class="box-contact">
            <i class="fas fa-envelope"></i>
            <h4>Our Mail</h4>
            <p>groco@gmail.com</p>
            <p>grocopltd@gmail.com</p>
        </div>
        <div class="box-contact">
            <i class="fas fa-map-marker-alt"></i>
            <h4>Our Address</h4>
            <p>Mumbai,India - 400104</p>
        </div>
    </div>
</section>

<section class="map">
    <div class="map-container">
        <div class="box-map">
            <h4>Get In Touch</h4>
            <form>
                <input type="text" placeholder="your name">
                <input type="text" placeholder="your email">
            </form>
            <form>
                <input type="text" placeholder="your name">
                <input type="text" placeholder="your subject">
            </form>
            <textarea type="textarea" placeholder="your message" col="30" rows="10"></textarea>
        </div>
        <div class="box-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7632.511908664543!2d81.73259497250169!3d16.961955715485853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37a4e19766ccd1%3A0x526c7b0fc6b6f3b!2sPedavadapalli%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1638629690110!5m2!1sen!2sin"
                 allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
