<section class="slider">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide> 
            <div class="slide-container">
                <div data-aos="fade-right" class="content">
                <p style="color:#222">Fresh and Organic</p>
                <h2>Upto 50% Off</h2>
                <a class="btn-flow">Shop Now</a>
              </div>
              <div class="image">
                  <img data-aos="zoom-in" src="/assets/home-img-1.png">
                </div>
              </div>
        </ng-template> 
        <ng-template carouselSlide>
            <div class="slide-container">
                <div class="content" data-aos="fade-right">
                <p style="color:#222">Fresh and Organic</p>
                <h2>Upto 50% Off</h2>
                <a class="btn-flow">Shop Now</a>
              </div>
              <div class="image">
                  <img data-aos="zoom-in" src="/assets/home-img-2.png">
                </div>
              </div>
  
        </ng-template> 
        <ng-template carouselSlide>
            <div class="slide-container">
                <div class="content" data-aos="fade-right">
                <p style="color:#222">Fresh and Organic</p>
                <h2>Upto 50% Off</h2>
                <a class="btn-flow">Shop Now</a>
              </div>
              <div class="image">
                  <img data-aos="zoom-in" src="/assets/home-img-3.png">
                </div>
              </div>
        </ng-template>  
      </owl-carousel-o>
  </section>

  <section class="banner">
      <div class="banner-container">
          <div class="box-banner" data-aos="zoom-in">
              <div class="image">
                  <img src="/assets/banner-1.jpg">
                  </div>
                  <div class="content">
                      <span>Limited Sales</span>
                      <h4 style="color:#222">Upto 75% Off</h4>
                      <a>Shop Now</a>
                  </div>
          </div>
          <div class="box-banner" data-aos="zoom-in">
              <div class="image">
                  <img src="/assets/banner-2.jpg">
                  </div>
                  <div class="content">
                      <span>Limited Sales</span>
                      <h4 style="color:#222">Upto 75% Off</h4>
                      <a>Shop Now</a>
                  </div>
          </div>
          <div class="box-banner" data-aos="zoom-in">
              <div class="image">
                  <img src="/assets/banner-3.jpg">
                  </div>
                  <div class="content">
                      <span>Limited Sales</span>
                      <h4 style="color:#222">Upto 75% Off</h4>
                      <a>Shop Now</a>
                  </div>
              </div>
      </div>
  </section>