/*Slider starts*/
.slider .slide-container{
    width:100vw;
    height:88vh;
    position: relative;
    background: url("/assets/home-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.slider .slide-container .image{
    width:435px;
    height:280px
}

.slider .slide-container .content p{
    margin: 20px 0px;
    font-size: 20px;
    font-family: sans-serif;
}

.slider .slide-container .content h2{
    margin: 20px 0px;
    font-size: 4rem;
    font-family: sans-serif;
}

.slider .slide-container .content a{
    display:inline-block;
    font-size: 14px;
    background: var(--white);
    padding: 8px 17px;
    margin: 20px 0px;
    color: var(--green);
    border:1px solid var(--green);
    position:relative;
    overflow:hidden;
    font-family: sans-serif;
    word-spacing: 0px;
    letter-spacing: 1px;
    cursor: pointer;
    z-index:0 !important;
}

.slider .slide-container .content a::before{
    content:'';
    position: absolute;
    top:0;right:0;
    width:0%;
    height:100%;
    z-index:-1;
    background: var(--green);
    transition:.3s linear;
}

.slider .slide-container .content a:hover::before{
    width:100%;
    left:0;
    

}

.slider .slide-container .content a:hover{
    color: var(--white) !important;

}

@media(max-width:550px){
    .slider .slide-container{
        display:flex;
        flex-direction: column;
        gap:2rem;
    }

    .slider .slide-container .image{
        width:280px;
        height:180px
    }

    .slider .slide-container .content p{
        font-size: 16px;
    }
    .slider .slide-container .content h2{
        font-size: 3.2rem;
    }
    .slider .slide-container .content a{
        font-size: 10px;
    }
}









/*Slider ends*/

/*Banner starts*/

.banner{
    width: 80%;
    margin: 40px auto;
}

.banner .banner-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.banner .banner-container .box-banner{
    flex: 1 1 21rem;
    position: relative;
}
.banner .banner-container .box-banner img{
    width:90%;
}

.banner .banner-container .box-banner .content{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.banner .banner-container .box-banner .content span{
    font-size: 13px;
    letter-spacing: 1px;
    padding-bottom: 12px;
    display: inline-block;
}

.banner .banner-container .box-banner .content h4{
    font-size: 16px;
    padding-bottom:12px;
}

.banner .banner-container .box-banner .content a{
    margin-top:2px;
    display: inline-block;
    color: var(--green);
    border: 1px solid var(--green);
    padding: 8px 16px;
    background: var(--white);
    letter-spacing: 2px;
    font-size: 11px;
    position:relative;
    z-index:0;
}
.banner .banner-container .box-banner .content a::before{
    content:'';
    position: absolute;
    top:0;right:0;
    width:0%;
    height:100%;
    background: var(--green);
    transition:0.3s linear;
    z-index:-1;
}

.banner .banner-container .box-banner .content a:hover::before{
    width:100%;
    left:0;
}

.banner .banner-container .box-banner .content a:hover{
    color: var(--white);
}











/*Banner ends*/