<app-head-banner [name]="name"></app-head-banner>

<section class="our-blog">
        <div class="blog-heading">
        <h4>Our<span>Blog</span></h4>
        <p>View All >></p>
    </div>
    <hr>
    </section>

<section class="blog">
    <div class="blog-container">
        <div data-aos="fade-up" class="box-blog">
            <div class="image">
            <img src="/assets/blog-1.jpg" alt="image-1">
        </div>
            <div class="content">
                    <div class="icons">
                            <i class="fas fa-calendar-week"> 1st May,2021</i> 
                            <i class="fas fa-user"> By Admin</i> 
                        </div>
                    <hr>
                    <h4>Blog Title Goes Here</h4>
                    <p>Ipsum as their default model text, 
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
                        <a>Read More</a>
                    </div>
        </div>
        <div data-aos="fade-up" class="box-blog">
                <div class="image">
            <img src="/assets/blog-2.jpg" alt="image-2">
            </div>
            <div class="content">
                    <div class="icons">
                            <i class="fas fa-calendar-week"> 1st May,2021</i> 
                            <i class="fas fa-user"> By Admin</i> 
                        </div>
                    <hr>
                    <h4>Blog Title Goes Here</h4>
                    <p>Ipsum as their default model text, 
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
                        <a>Read More</a>
                    </div>
        </div>
        <div data-aos="fade-up" class="box-blog">
                <div class="image">
            <img src="/assets/blog-3.jpg" alt="image-3">
            </div>
            <div class="content">
                    <div class="icons">
                            <i class="fas fa-calendar-week"> 1st May,2021</i> 
                            <i class="fas fa-user"> By Admin</i> 
                        </div>
                    <hr>
                    <h4>Blog Title Goes Here</h4>
                    <p>Ipsum as their default model text, 
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
           <a>Read More</a>
                    </div>
        </div>
        <div data-aos="fade-up" class="box-blog">
                <div class="image">
            <img src="/assets/blog-4.jpg" alt="image-4">
            </div>
            <div class="content">
                    <div class="icons">
                            <i class="fas fa-calendar-week"> 1st May,2021</i> 
                            <i class="fas fa-user"> By Admin</i> 
                        </div>
                    <hr>
                    <h4>Blog Title Goes Here</h4>
                    <p>Ipsum as their default model text, 
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
                        <a>Read More</a>
                    </div>
        </div>
        <div data-aos="fade-up" class="box-blog">
                <div class="image">
            <img src="/assets/blog-5.jpg" alt="image-5">
            </div>
            <div class="content">
                <div class="icons">
                    <i class="fas fa-calendar-week"> 1st May,2021</i> 
                    <i class="fas fa-user"> By Admin</i> 
                </div>
                    <hr>
                    <h4>Blog Title Goes Here</h4>
                    <p>Ipsum as their default model text, 
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
                        <a>Read More</a>
                    </div>
        </div>
        <div data-aos="fade-up" class="box-blog">
                <div class="image">
            <img src="/assets/blog-6.jpg" alt="image-6">
            </div>
            <div class="content">
                    <div class="icons">
                            <i class="fas fa-calendar-week"> 1st May,2021</i> 
                            <i class="fas fa-user"> By Admin</i> 
                        </div>
                    <hr>
                    <h4>Blog Title Goes Here</h4>
                    <p>Ipsum as their default model text, 
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
                        <a>Read More</a>
                    </div>
        </div>
    </div>
</section>
