<app-head-banner [name]='name'></app-head-banner>

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/about-img.jpg" alt="mainiamge">
            </div>
            <div class="col-md-6">
                <div class="content">
                    <p>Welcome To Our Shop</p>
                    <h4>Fresh And Organic Groceries</h4>
                    <p class="des">specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMake</p>
                        <a>Read More</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="our-gallery">
        <div class="gallery-heading">
        <h4>Our<span>Gallery</span></h4>
        <p>View All >></p>
    </div>
    <hr>
</section>

<section class="gallery">
    <div class="container">
        <div class="row">
            <div data-aos="zoom-in" class="col-md-4">
            <img src="/assets/gallery-img-1.jpg" alt="gallery-1">
            <div class="icons">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
            <div data-aos="zoom-in" class="col-md-4">
            <img src="/assets/gallery-img-2.jpg" alt="gallery-1">
            <div class="icons">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
            <div data-aos="zoom-in" class="col-md-4">
            <img src="/assets/gallery-img-3.jpg" alt="gallery-1">
            <div class="icons">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
            <div data-aos="zoom-in" class="col-md-4">
            <img src="/assets/gallery-img-4.jpg" alt="gallery-1">
            <div class="icons">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
            <div data-aos="zoom-in" class="col-md-4">
            <img src="/assets/gallery-img-5.jpg" alt="gallery-1">
            <div class="icons">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
            <div data-aos="zoom-in" class="col-md-4">
            <img src="/assets/gallery-img-6.jpg" alt="gallery-1">
            <div class="icons">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
        </div>
    </div>
</section>