

/*Our-catagories starts*/

.our-catagories{
    height:20vh;

}

.our-catagories .catagories-heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    gap: 45rem;

}

.our-catagories .catagories-heading h4{
    font-size: 17px;
}

.our-catagories .catagories-heading h4 span{
    padding-left: 4px;
    color: var(--green);
}

.our-catagories .catagories-heading p{
    cursor: pointer;
}

.our-catagories .catagories-heading p:hover{
    color: var(--green);
}


hr{
    width: 80%;               
    background-color: var(--light-color) !important;
    height: 2px;
    margin-left: 128px;
}

.catagories-list{
    width:84%;
    margin:40px auto
}
.catagories-list .catagories-list-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
    gap:4rem;
    
}

.catagories-list .catagories-list-container .box-catagories img{
    width:100%;
}

.catagories-list .catagories-list-container .box-catagories h4{
    margin-top: 17px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}

.catagories-list .catagories-list-container .box-catagories h4:hover{
    color: var(--green);
}

@media(max-width:550px){
    .our-catagories .catagories-heading{
        gap: 4rem;
    
    }
    .our-catagories .catagories-heading h4{
        font-size: 16px;
    }
    hr{
        margin-left: 43px !important;
    }
    .catagories-list .catagories-list-container{
        gap:2rem;
        text-align: center;
    }
    .catagories-list .catagories-list-container .box-catagories img{
        width:80%;
    }
    .catagories-list .catagories-list-container .box-catagories h4{
        font-size: 12px;
        margin-left: -24px;
    }

}





/*our-catagories ends*/

/*Products starts*/

.our-products{
    height:20vh;

}

.our-products .products-heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    gap: 45rem;

}

.our-products .products-heading h4{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
}

.our-products .products-heading h4 span{
    padding-left: 4px;
    color: var(--green);
}

.our-products .products-heading p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.our-products .products-heading p:hover{
    color: var(--green);
}


hr{
    width: 80%;               
    background-color: var(--light-bg);
    height: 2px;
    margin-left: 128px;
}

.product-list{
    width:84%;
    margin:40px auto
}

.product-list .product-list-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.product-list .product-list-container .box-product{
    text-align: center;
    position:relative;
    overflow:hidden;
}

.product-list .product-list-container .box-product .item-btn a{
    border: 2px solid gray;
    padding: 6px 13px;
    margin-top: 13px;
    display: inline-block;
    background: var(--white);
    color: var(--green);
    letter-spacing: 1px;
    cursor: pointer;
}

.product-list .product-list-container .box-product .item-btn .cart{
    border: 2px solid gray;
    padding: 6px 13px;
    margin-top: 13px;
    display: inline-block;
    background: var(--green);
    color: var(--white);
    letter-spacing: 1px;
    cursor: pointer;
}

.product-list .product-list-container .box-product .content{
    margin-top: 1rem;
}

.product-list .product-list-container .box-product .content .name{
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 21px;
}


.product-list .product-list-container .box-product .content i{
    color: var(--green);
}

@media(max-width:550px){

    .our-products .products-heading{
        gap: 4rem;
    
    }
    .our-products .products-heading h4{
        font-size: 16px;
    }
    hr{
        margin-left: 43px !important;
    }

    .product-list .product-list-container img{
        width:68%;
        
    }
    .product-list .product-list-container .box-product .icons i{
        transform:translateY(-800%);

    }
    .product-list .product-list-container .box-product .icons{
        position: absolute;
        top:40%;
        left:38%;
        transform:translate(-50% -50%);
    }

}








/*Products ends*/